# virtual environment
.venv/

# python cache
__pycache__/
*.pyc

# trained models
checkpoints/
*.pt
*.pth

# generated outputs
outputs/

# editor files
.vscode/
.idea/

# ignore only video folders inside raw data
data/raw/**/videos/

# optional: also ignore loose video files inside raw data
data/raw/**/*.mp4
data/raw/**/*.avi
data/raw/**/*.mov
data/raw/**/*.mkv